<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formula USI </title>
  <link rel="icon" type="image/x-icon" href="/static/images/cockpit/si_logo.webp">
  <script type="text/javascript" src="/static/js/cockpit.js"></script>
  <script
    src="/static/js/jquery-3.1.1.min.js"
    integrity=""
    crossorigin="anonymous"></script>
  <script
    src="/static/js/jquery-ui.min.js"
    integrity=""
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/js/nipple.js"></script>
  <link href="/static/styles/cockpit.css" rel="stylesheet">
</head>

  <body>
    <div class="content">
      <div class="topbar">

        <div class="logos">
          <img alt="Formula USI Logo" src="/static/images/cockpit/formula_usi.png" class="logo logo_formula_usi">
        </div>

        <div class="digital" style="position: relative; top: 5px;">
          <span data-i18n="circuit"></span>:
          <span id="circuit_display">Default</span>
        </div>
      </div>


        <analog-gauge  id="speedometer_gauge" class="speedometer_gauge" value="100" min-label="Low" max-label="High" values="11"></analog-gauge>
        
    <img alt="Steering Wheel" id="steering_wheel" src="/static/images/cockpit/gemini_wheel.png">
    
    <div class="digital">
    <span id="weather_display">
      <img id="surface_icon" alt="weather_icon" src="{{ current_surface_icon }}" />
    </span>
    <span id="more_info"><img id="circuit_image" src="{{ current_circuit_icon }}"" /></span>
    </div>
  </div>


    <div class="video_container" >
      <img alt="what macchinina sees" src="/video"  />
      <div class="grid-overlay" aria-hidden="true"></div>
    </div> 

  </body>
</html>

<script type="text/javascript">
  // Initialize state with server-side values
  window.serverState = {
    circuit: "{{ current_circuit if current_circuit else 'Default' }}",
    current_surface: "{{ current_surface if current_surface else 'Dry' }}",
    weather_icon: "{{ current_surface_icon if current_surface_icon else '/static/images/cockpit/dry.svg' }}",
    throttle: "{{  current_ai_mul if current_ai_mul else '0' }}",
  };
  window.translations = {% raw translations_json %};
  window.currentLanguage = "{{ current_language }}";
</script>